<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Express</title>
  </head>
  <body>
    <%- include ('blocks/header') -%>
    <main>
      <h1>Главная страница</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
        cupiditate quis illum eligendi temporibus et ea eveniet necessitatibus
        hic ab, nobis ex enim sunt aperiam quidem nostrum tenetur officia atque.
      </p>
    </main>
  </body>
</html>
