<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node JS</title>
    <style>
      body {
        color: #fff;
        background: #333;
        text-align: center;
        padding-top: 100px;
      }
      a {
        color: rgb(246, 46, 46);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
    <h1>Главная страница</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quis, ullam
      aliquid obcaecati reiciendis incidunt molestiae eveniet, natus blanditiis
      velit doloribus, soluta sunt distinctio tenetur est. Dolor, velit. Magni,
      exercitationem!
    </p>
    <a href="/about">About</a>
  </body>
</html>
